#mainWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 1024px;
        height: 768px;
        background: url("../img/main.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .s4_popupbtn1 {
        background-color:#2EA189;
        opacity:.8;
        position: absolute;
        bottom: 353px;
        left: 120px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_1 {
            background: url("../img/Slide_5.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_1 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }.s4_popupbtn2 {
        background-color:#16F02B;
        opacity:.8;
        position: absolute;
        top: 334px;
        left: 539px;
        height: 41px;
        width: 40px;
        cursor: pointer;
        cursor: move;
        }

        .popup_box_2 {
            background: url("../img/Slide_6.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_2 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }.s4_popupbtn3 {
        background-color:#469305;
        opacity:.8;
        position: absolute;
        top: 497px;
        left: 542px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_3 {
            background: url("../img/Slide_7.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_3 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }.s4_popupbtn4 {
        background-color:#BDBE83;
        opacity:.8;
        position: absolute;
        top: 50px;
        left: 165px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_4 {
            background: url("../img/Slide_8.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_4 .close {
            background-color:red;
            opacity:.5;
            width: 37px;
            height: 38px;
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }.s4_popupbtn5 {
        background-color:#B1C5CE;
        opacity:.8;
        position: absolute;
        top: 50px;
        left: 210px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_5 {
            background: url("../img/Slide_9.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_5 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }
    