#mainWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 1024px;
        height: 768px;
        background: url("../img/main.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .s5_popupbtn1 {
        background-color:#B0CE85;
        opacity:.8;
        position: absolute;
        top: 50px;
        left: 30px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_1 {
            background: url("../img/Slide_11.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_1 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }
    