#mainWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1024px;
    height: 768px;
    background: url("../img/main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 140px;
    right: 67px;
    cursor: pointer;
}