#mainWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 1024px;
        height: 768px;
        
    }
    
    .body_main {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
    }
    
            .section-1 {
    position: relative;
    left: 0;
    top: 0;
    width: 1024px;
    height: 768px;
    background: url("../img/Slide_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
            
            .section-2 {
    position: relative;
    left: 0;
    top: 0;
    width: 1024px;
    height: 768px;
    background: url("../img/Slide_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
            .s2_popupbtn1 {
        background-color:#49F7CA;
        opacity:.8;
        position: absolute;
        top: 50px;
        left: 30px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        }

        .popup_box_1 {
            background: url("../img/Slide_4.jpg") no-repeat;
            background-size: 1024px 768px;
            position: absolute;
            width: 1024px;
            height: 768px;
            top: 0;
            display: none;
            left: 0;
        }
        .popup_box_1 .close {
            background-color:red;
            opacity:.5;
            width: 45px;
            height: 45px;
            position: absolute;
            right: 51px;
            top: 62px;
            cursor: pointer;
        }