#mainWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 1024px;
        height: 768px;
        
        background: url("../img/Slide_4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
    .body_main {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
    left: 0px;
}
    